<h1>
  List of Directors
</h1>

<hr>

<div>
  <%= link_to 'Add a new director', new_director_path %>
</div>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
      DOB
    </th>

    <th> 
      Films
    </th>

    <th>
    </th>
  </tr>

  <% @directors.each do |director| %>
    <tr>
      <%= director.id %>
    </tr>

    <tr>
      <%= director.name %>
    </tr>

    <tr>
      <%= director.dob %>
    </tr>

    <tr>
      <%= director.films %>
    </tr>

    <td>
      <%= link_to "Show Directors", director %>
    </td>
  <% end %>

</table>
